<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="sgtPapers" class="com.beyond.man.music.impl.SgtPapers"></bean>
    <bean id="musicPlay" class="com.beyond.man.play.MusicPlay">
    <!-- 有参构造       -->
        <constructor-arg name ="compactDisc" ref="sgtPapers"></constructor-arg>
    </bean>
</beans>